@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");
body {
    background-color: #364f63;
    margin: 60px auto;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #c3c3c3;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family: 'Roboto Slab', serif;
    color: #eaeaea;
}
p {
    font-size: 1.4em;
    line-height: 1.4em;
    color: #dcdfea;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

img {
  width: 90%;
  border-radius: 20%;
  padding: 5%;
}

.col1 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin-right: 20px;
}

.col2 {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
