<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
		<style>
		p {
			font-family: avenir;
		}
		</style>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<!-- <li><a href="/about/">About</a></li> -->
						<!-- <li><a href="/teaching/">Teaching</a></li> -->
        		<li><a href="/cv/">CV</a></li>
        		<!-- <li><a href="/blog/">Blog</a></li> -->
						<li><a href="/portfolio/">Portfolio</a></li>
						<li style ="float:right"><a href="mailto:andrew.lenz@berkeley.edu">email</a></li>
        		<li style ="float:right"><a href="https://github.com/andrewlenz">Github</a></li>
						<li style ="float:right"><a href="https://www.linkedin.com/in/andrew-lenz/">LinkedIn</a></li>
    		</ul>
		</nav>
		<div class="container">

    {{ content }}

    </div><!-- /.container -->
		<!-- <footer>
    		<ul>

			</ul>
		</footer> -->
	</body>
</html>
